<div class="container" id="about-me">
  <div class="styled-container-about-me">
    <h2 class="numbered-heading">About Me</h2>
    <div class="inner">
      <div class="row">
        <div class="col-md-6">
          <div class="text-wrapper">
            <p>
              Hello! My name is Berkay and I enjoy creating things that live on
              the internet. My journey began with university, since then, I have
              worked and am working to improve myself every day.
            </p>
            <p>Here are a few technologies I've been working with recently:</p>
            <ul class="skills-list">
              <li>.Net</li>
              <li>.Net Core</li>
              <li>ASP.NET</li>
              <li>Angular</li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-wrapper">
            <img class="my-photo" src="././assets/photos/myphoto.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
