<div class="container">
  <div class="styled-container">
    <h1 class="heading">Hi, my name is</h1>
    <h2 class="big-heading">Resul Berkay Ersoy.</h2>
    <h3 class="big-heading">I build things for the web.</h3>
    <p class="top-banner-paragraph">
      I'm a 3rd year software engineering student working on both front-end and
      back-end techologies.
    </p>
    <a
      class="email"
      href="mailto:berkay.ersoy.007@gmail.com"
      rel="noopener noreferrer"
      target="_blank"
      >Get In Touch</a
    >
  </div>
</div>
