<div orientation="left" class="social-media">
  <ul class="social-media-list">
    <li>
      <a
        href="https://github.com/berkayersoyy"
        aria-label="Github"
        target="_blank"
        rel="noreferrer"
      >
        <img src="././assets/icons/github.png" />
      </a>
    </li>
    <li id="linkedin">
      <a
        href="https://www.linkedin.com/in/resul-berkay-ersoy/"
        aria-label="Github"
        target="_blank"
        rel="noreferrer"
      >
        <img src="././assets/icons/linkedin.png"/>
      </a>
    </li>
  </ul>
</div>
